###
### .gitignore
###

# Allowlist machine-specific configurations
user-machine/
!user-machine-nagata.el

# Remote packages and temporary scripts
/remote-lisp
/local

# Session files created when emacs is closed by the window manager
/.session.*

# Tags
/TAGS
